/* -------------------------------------Top Barra */

#top_bar{
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  background: #00000091;
  justify-content: space-between;
  padding-inline: 40px;
  z-index: 1;
}

#left_bar{
  display:flex;
  align-items: center;
}

#left_bar h1{
  text-decoration: none;
  color: #ffc107;
  padding-inline: 10px;
  width: 110%;
}

#right_bar{
  align-self: flex-end;
}

.form-control:focus{
  box-shadow: 0 0 0 0.25rem rgb(255 193 7 / 48%);
  border-color: #ffc107;
}

/* -------------------------------------Sidebar */
#hide_menu{
  position: absolute;
  left: -190px;
  height: 100%;
  display: flex;
  color: #ffc107;
  transition: 1s;
  z-index: 2;
}


/* ---------------Efecto de mostrar SideBar */
#hide_menu:hover{
  left: 0px;
}
/* ---------------Efecto de mostrar SideBar */


#selector_search{
  width: 200px;
  background: black;
  padding: 15px;
}

#icon_menu{
  width: 15px;
  margin: auto;
}

#icon_menu img{
  width: 300%;
  position: relative;
  left: -15px;
  filter: invert(0.8) sepia(1) hue-rotate(10deg) saturate(1000%);
}

/* ---------------Nombre Icono */
.name_icon{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.name_icon h4{
}

.name_icon img{
  width: 20px;
  filter: invert(0.8) sepia(1) hue-rotate(10deg) saturate(1000%);
}

/* ---------------Listas */
#selector_search ul{
  height: 0px;
  list-style: none;
  overflow: auto;
  transition: 1s;
}

#selector_search li:hover{
  cursor: pointer;
  color: #2196f3;
}


/* ----------Scrollbar */
#selector_search ul::-webkit-scrollbar {
  width: 10px;
}

#selector_search ul::-webkit-scrollbar-track {
  background: transparent;
}

#selector_search ul::-webkit-scrollbar-thumb {
  background-color: #e91e634d;
}
/* ----------Scrollbar */


/* ---------------Efecto de mostrar lista */
#g_name_icon:focus ~ #g_list_show{
  height: 200px;
}

#y_name_icon:focus ~ #y_list_show{
  height: 200px;
}
/* ---------------Efecto de mostrar lista */
